<div ng-init="loadData()">
<h1>{{name}}</h1>
<hr>
 


<table class="table" ng-init="getReminders()">
    <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-plus"></span>Add Reminder
        </button>
    <thead>
      <tr>
        <th>Payee</th>
        <th>Type</th>
        <th>Day</th>
      </tr>
    </thead>
    <tbody>
       <tr reminder-element reminder-object="r" ng-repeat="r in reminders"/> 

      <!--<tr ng-repeat="r in reminders">
        <td>{{r.payee}}</td>
        <td>{{r.type}}</td>
        <td>{{r.day}}</td>
        <td>
            <a href="#">
            <span class="glyphicon glyphicon-remove"></span>
            </a>
            <a href="#">
            <span class="glyphicon glyphicon-pencil"></span>
            </a>
        </td>
      </tr>-->
      
       
    </tbody>
  </table>
